.layout_selection {
    .layout_border {
        border: 2px solid #000;
    }

    .layout_border:hover {
        background-color: #d7d4d4;
    }
}

.selected-layout {
    background-color: #40403b;
    color: #fff;
}