<div class="row header-text m-2 p-2">
    <span>Login</span>
</div>
<div class="row m-3">
    <div class="col-12 g-0 floating-label-group">
        <input type="number" required />
        <label class="floating-label">Mobile</label>
    </div>
</div>
<div class="row m-3">
    <div class="col-8 g-0 floating-label-group">
        <input type="password" required />
        <label class="floating-label">Password</label>
    </div>
    <div class="col-4">
        <button class="button">Login</button>
    </div>
</div>