<div class="header p-2" style="border-bottom: 1px solid #000;">
    <span class="fw-bolder">ePaper Designer</span>
</div>
<div class="main-content">
    <div class="row">
        <div class="col-6">
            <div class="row header-text m-2 p-2">
                <span>Create New Account</span>
            </div>
            <div class="row">
                <div class="col-6">
                    <input type="number" placeholder="Mobile"/>
                </div>
                <div class="col-6">
                    <input type="email" plac/>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <input type="text"/>
                </div>
                <div class="col-4">
                    <button>Register</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row header-text m-2 p-2">
                <span>Login</span>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text"/>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <input type="text"/>
                </div>
                <div class="col-4">
                    <button>Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
