<div class="header p-2" style="border-bottom: 1px solid #000;">
    <span class="fw-bolder">ePaper Designer</span>
</div>
<div class="main-content">
    <div class="row g-0">
        <div class="col-6">
            <div class="row header-text m-2 p-2">
                <span>Create New Account</span>
            </div>
            <div class="row m-3">
                <div class="col-6 g-0 floating-label-group">
                    <input type="number" required/>
                    <label class="floating-label">Mobile</label>
                </div>
                <div class="col-6 g-0 floating-label-group">
                    <input type="email" required/>
                    <label class="floating-label">Email</label>
                </div>
            </div>
            <div class="row m-3">
                <div class="col-8 g-0 floating-label-group">
                    <input type="password" required/>
                    <label class="floating-label">Password (EX.432434)</label>
                </div>
                <div class="col-4">
                    <button>Register</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row header-text m-2 p-2">
                <span>Login</span>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text"/>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <input type="text"/>
                </div>
                <div class="col-4">
                    <button>Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
