<div class="row">
  <div class="col-5">
    <div class="display">
      <div class="photo mt-2">
        <div class="row mt-3 header_2">
          <div class="col-2">
            <img class="img-fluid" [src]="headerImagePrefix + gandhijiImage">
          </div>
          <div class="col-7 text-center">
            <span class=channel_name>Channel Name</span>
            <br>
            <span class='channel_description'>
              इंदरगढ़ &gt; दतिया &gt; ग्वालियर &gt; भिंड &gt; मोरेना 
            </span>
          </div>
          <div class="col-3">
            <div style="border:1px solid #000; position:relative;  border-radius:5px; padding:4px;">
              <img [src]="headerImagePrefix  + subi" style="height:30px; position:absolute; top:-10px; right:8px;">
              <address style="  padding:2px; margin:0px;  line-height:1.2; font-weight:bold;  ">
               <div style="position:relative;">
                <div class="" id="txt_1918078" onclick="Sds(this.id);" onblur="Sds2(this.id);" spellcheck="false" style="color:#000;   font-family: 'Akshar', sans-serif; padding-bottom:4px; text-align:center; font-size:14px; ">सुविचार - </div>  
               </div>
                <div class="sd" style="min-height:30px;">
                   <div class="" id="txt_7099319" onclick="Sds(this.id);" onblur="Sds2(this.id);" spellcheck="false" style="text-align:center; font-family: 'Akshar', sans-serif; font-weight:normal; font-size:9px; line-height:1.4;">समय का उत्तम उपयोग करना सीखें क्योंकि विश्व के ज्यादातर सफल मनुष्यों ने इसी का प्रयोग किया है।</div>
                </div>
              </address>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-7">
    <div class="custm-btns mt-2">
      <tabset class="btn-selection">
        <tab heading="Edit">
            Tabs component in Angular ngx bootstrap GeeksforGeeks
        </tab>
        <tab heading="Header">
            <custom-header (headerData)="headerData($event)"></custom-header>
        </tab>
        <tab heading="Sub Header">
            Tabs component in Angular ngx bootstrap GeeksforGeeks2
        </tab>
        <tab heading="Layout">
            Tabs component in Angular ngx bootstrap GeeksforGeeks2
        </tab>
        <tab heading="Footer">
            Tabs component in Angular ngx bootstrap GeeksforGeeks2
        </tab>
        <tab heading="Page">
            Tabs component in Angular ngx bootstrap GeeksforGeeks2
        </tab>
      </tabset>
    </div>
  </div>
</div>