<div class="row">
  <div class="col-5">
    <div class="display">
      <div class="photo mt-2">
        <div class="row">
          <div class="w-100 text-center">
            <span class="channel_name">Channel Name</span><br>
            <span class="channel_description">इंदरगढ़ &gt; दतिया &gt; ग्वालियर &gt; भिंड &gt; मोरेना </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-7">
    <div class="custm-btns mt-2">
      <tabset class="btn-selection">
        <tab heading="Edit">
            Tabs component in Angular ngx bootstrap GeeksforGeeks
        </tab>
        <tab heading="Header">
            <custom-header (headerData)="headerData($event)"></custom-header>
        </tab>
        <tab heading="Sub Header">
            Tabs component in Angular ngx bootstrap GeeksforGeeks2
        </tab>
        <tab heading="Layout">
            Tabs component in Angular ngx bootstrap GeeksforGeeks2
        </tab>
        <tab heading="Footer">
            Tabs component in Angular ngx bootstrap GeeksforGeeks2
        </tab>
        <tab heading="Page">
            Tabs component in Angular ngx bootstrap GeeksforGeeks2
        </tab>
      </tabset>
    </div>
  </div>
</div>