<div class="mt-1">
  <div class="row">
    <div class="d-flex header-btns">
      <ul class="nav nav-tabs">
        <button [class.active]="1 === activeTabIndex" (click)="activateTab(1)">
          <span class="font_page_header m-2"> Front Page Header </span>
        </button>
        <button
          class="ms-2"
          [class.active]="2 === activeTabIndex"
          (click)="activateTab(2)"
        >
          <span class="font_page_header m-2"> Other Page Header </span>
        </button>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <ng-container>
      <div class="tab-pane" [class.active]="1 === activeTabIndex">
        <div class="row">
          <div (click)="addHeaderImage('select_image')" class="col-6 d-flex align-items-center justify-content-center">
            <div class="mt-2 w-100" style="border: 2px solid; height: 80%;">
              <span class="fw-bold justify-content-center align-items-center">Full Image</span>
            </div>
          </div>
          <div class="col-6" *ngFor="let header of header_images">
            <img class="img-responsive w-100 mt-2 header_image" [src]="headerImagePrefix + header?.image" (click)="addHeaderImage(header)"/>
          </div>
        </div>
      </div>
      <div class="tab-pane" [class.active]="2 === activeTabIndex">
        <div class="row">
          <div class="col-6" *ngFor="let other_header of other_header_images">
            <img class="img-responsive w-100 mt-2 header_image" [src]="otherHeaderImagePrefix + other_header?.image"/>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
