<div class="row" style="background-color: #ebe9bc;">
  <div class="col-5">
    <div class="display">
      <div class="photo mt-2" style="font-family: 'Akshar', sans-serif;">
        <div class="row" *ngIf="selectImage">
          <div class="col-12">
            <img class="img-fluid" [src]="advertiseImagePrefix + newspaper_dummy_header"
              style="height: 80px; width: 100%;">
          </div>
        </div>
        <div class="row g-0" *ngIf="headerDetails && headerDetails.id=='header_1'">
          <div class="col-2">
            <img class="img-fluid" [src]="advertiseImagePrefix + advertise_520_260" style="height: 80px;">
          </div>
          <div class="col-8">
            <img class="img-fluid" [src]="advertiseImagePrefix + newspaper_dummy_header"
              style="height: 80px; width: 100%;">
          </div>
          <div class="col-2">
            <img class="img-fluid" [src]="advertiseImagePrefix + advertise_520_260" style="height: 80px;">
          </div>
        </div>
        <div class="row g-0" *ngIf="headerDetails && headerDetails.id=='header_2'">
          <div class="col-8">
            <img class="img-fluid" [src]="advertiseImagePrefix + newspaper_dummy_header"
              style="height: 80px; width: 100%;">
          </div>
          <div class="col-4">
            <img class="img-fluid" [src]="advertiseImagePrefix + advertise_520_260" style="height: 80px;">
          </div>
        </div>
        <div class="row g-0" *ngIf="headerDetails && headerDetails.id=='header_3'">
          <div class=row>
            <div class=col-12>
              <div class=mt-4><span class="d-flex justify-content-center fw-bold fs-1 lh-1">Channel Name</span><span
                  class="d-flex justify-content-center mt-1">इंदरगढ़ > दतिया > ग्वालियर > भिंड > मोरेना </span></div>
            </div>
          </div>
        </div>
        <div class="row g-0 align-items-center" *ngIf="headerDetails && headerDetails.id=='header_4'">
          <div class="col-3 d-flex justify-content-center">
            <img class="img-fluid" [src]="headerImagePrefix + gandhijiImage" style="height: 80px;">
          </div>
          <div class="col-6 text-center">
            <span class="d-flex justify-content-center fw-bold fs-1 lh-1 text-nowrap text-danger">Channel Name</span>
            <span class="d-flex justify-content-center mt-1">
              इंदरगढ़ &gt; दतिया &gt; ग्वालियर &gt; भिंड &gt; मोरेना
            </span>
          </div>
          <div class="col-3">

          </div>
        </div>
        <div class="row g-0 mt-2" *ngIf="headerDetails && headerDetails.id=='header_5'">
          <div class="col-2">
            <img class="img-fluid" [src]="headerImagePrefix + konark_image" style="height: 80px; width: 100%;">
          </div>
          <div class=col-8>
            <div class=mt-4>
              <span class="d-flex justify-content-center fw-bold fs-1 lh-1" style="color: #8C4C46;">
                Channel Name
              </span>
              <span class="d-flex justify-content-center mt-1">इंदरगढ़ > दतिया > ग्वालियर > भिंड > मोरेना </span>
            </div>
          </div>
          <div class="col-2">
            <img class="img-fluid" [src]="headerImagePrefix + header_5_right_image" style="height: 80px; width: 100%;">
          </div>
        </div>
        
        <div *ngIf="headerDetails && headerDetails.id=='header_6'">
          <div class="row g-0" style="background-color: brown;   text-align: center; color: #fff;   padding: 2px;   font-family: 'Akshar', sans-serif;   font-size: 12px;">
            <span>
              समय का उत्तम उपयोग करना सीखें क्योंकि विश्व के ज्यादातर सफल मनुष्यों ने इसी का प्रयोग किया है।
            </span>
          </div>
          <div class="row g-0 mt-2">
            <div class="col-8">
              <span class="d-flex justify-content-center fw-bold fs-1 lh-1 text-nowrap text-danger">Channel Name</span>
              <span class="d-flex justify-content-center mt-1">
                इंदरगढ़ &gt; दतिया &gt; ग्वालियर &gt; भिंड &gt; मोरेना
              </span>
            </div>
            <div class="col-4">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-7">
    <div class="custm-btns mt-2">
      <tabset class="btn-selection">
        <tab heading="Edit">
          <custom-editor></custom-editor>
        </tab>
        <tab heading="Header">
          <custom-header (headerData)="headerData($event)"></custom-header>
        </tab>
        <tab heading="Sub Header">
          Tabs component in Angular ngx bootstrap GeeksforGeeks2
        </tab>
        <tab heading="Layout">
          <custom-layout></custom-layout>
        </tab>
        <tab heading="Footer">
          <custom-footer></custom-footer>
        </tab>
        <tab heading="Page">
          Tabs component in Angular ngx bootstrap GeeksforGeeks2
        </tab>
      </tabset>
    </div>
  </div>
</div>